

body{
  background: #0af;

}

header h1 {
  text-align: center;
  padding: 1em 0 1em 0;
  color: #00f;
  background: #fff;
  width: 100%;
}

ol#todoList {
  
  background: white;
}

div button {
  width: 150px;
  padding: 0.5em;
  background: #00f;
  color: #fff;
  border: 2px rgb(5, 4, 90) solid;
  border-radius: 1em;
  cursor: pointer;
  font-weight: bold;
}
div input {
  padding: 0.6em;
}

div input:active {
  border: 2px red solid;
}